version: '3'

services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
    - 80:80
    environment:
      - TZ=Asia/Yekaterinburg
    volumes:
      - ./nginx-conf:/etc/nginx/conf.d
      - ./static:/var/www/html
